<div class="main-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div [ngClass]="{ hidden: !showCompare }">
    <div class="album-container" fxLayout="row" fxLayoutAlign="space-evenly center">
      <app-my-album [albumIdx]="albumOne" (chosen)="onChosen($event)"></app-my-album>
      <app-my-album [albumIdx]="albumTwo" (chosen)="onChosen($event)"></app-my-album>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary" (click)="getNewAlbums()">Reset</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary" (click)="toggleCompare()">Go to Summary</button>
    </div>
  </div>
  <div [ngClass]="{ hidden: showCompare }">
    <div class="summary-container" fxLayout="row wrap">
      <div class="album" [ngClass]="getRankStyle(i)" *ngFor="let album of sortedAlbums; let i = index">
        <img class="cover" src="/assets/images/{{ album.image }}.png">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary" (click)="toggleCompare()">Go to Compare</button>
    </div>
  </div>
</div>
