<div class="main-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div [ngClass]="{ hidden: !showCompare }">
    <div class="album-container" fxLayout="row" fxLayoutAlign="space-evenly center">
      <app-my-album [albumIdx]="albumOne" (chosen)="onChosen($event)"></app-my-album>
      <app-my-album [albumIdx]="albumTwo" (chosen)="onChosen($event)"></app-my-album>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary" (click)="getNewAlbums()">Reset</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">Counter: {{matchCounter}}</div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary" (click)="toggleCompare()">Go to Summary</button>
    </div>
  </div>
  <div [ngClass]="{ hidden: showCompare }">
    <div class="summary-container" fxLayout="row wrap">
      <div class="album" [ngClass]="getRankStyle(i)" *ngFor="let album of sortedAlbums; let i = index">
        <img class="cover" src="/assets/images/{{ album.image }}.png">
        <div class="overlay">
          <span class="text">
            <p>{{album.title}}</p>
            <p>{{album.artist}}</p>
            <p>{{album.year}}</p>
            <p>Diff: {{album.wins - album.losses}}</p>
            <p>Pct: {{(album.wins / (album.wins + album.losses) * 1000) / 10}}%</p>
          </span>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary" (click)="toggleCompare()">Go to Compare</button>
      <button mat-raised-button color="primary" (click)="toggleSort()">Toggle Sort</button>
    </div>
  </div>
</div>
