<div class="main-container" fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="15%" fxLayout="row" fxLayoutAlign="start start">
    <button mat-raised-button color="primary" (click)="toggleCompare()">Go to {{ showCompare ? 'Summary' : 'Compare' }}</button>
  </div>
  <div fxFlex="60%" fxLayout="column" fxLayoutAlign="space-around center">
    <app-compare [albums]="albums" [ngClass]="{ hidden: !showCompare }"></app-compare>
    <app-summary [albums]="albums" [ngClass]="{ hidden: showCompare }"></app-summary>
  </div>
  <div fxFlex="15%"></div>
</div>
