.compare-container {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  // background-image: url("./assets/images/Wood.png");
  // background-repeat: no-repeat;
  // background-size: cover;

  .mat-raised-button {
    margin: 20px 20px 0px 20px;
  }

  .turntable-container {
    background-image: url("/assets/images/Turntable.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    .counter {
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 2px rgb(0, 0, 0);
    }

    .outer-record-container {
      z-index: -1;
      position: absolute;
      top: 19%;
      left: 50%;
      .inner-record-container {
        position: relative;
        left: -50%;
        .album {
          width: 600px;
          height: 600px;
        }
      }
    }
  }
}
