<div class="turntable-container">
  <div class="album-container" fxLayout="row" fxLayoutAlign="space-evenly center">
    <app-my-album [albumIdx]="albumOne" (chosen)="onChosen($event)"></app-my-album>
    <app-my-album [albumIdx]="albumTwo" (chosen)="onChosen($event)"></app-my-album>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-raised-button color="primary" (click)="getNewAlbums()">Reset</button>
  </div>
  <div class="counter" fxLayout="row" fxLayoutAlign="space-around center">Counter: {{matchCounter}}</div>
</div>
<div class="record-container">
  <img [@recordAnimations]="state" class="album" fxLayoutAlign="center center" src="/assets/images/BigTenInch.png" height="900px" width="900px">
</div>
