<div class="compare-container" fxLayout="column" fxLayoutAlign="center">
  <div fxFlex="10%" class="button-container" fxLayout="column" fxLayoutAlign="start start">
    <a *ngIf="router.url !== '/albums/compare'" mat-raised-button color="primary" [routerLink]="['/albums/compare']" id="show">Compare</a>
    <a *ngIf="router.url !== '/albums/summary'" mat-raised-button color="primary" [routerLink]="['/albums/summary']" id="show">Summary</a>
  </div>
  <div fxFlex="80%" class="turntable-container">
    <div class="album-container" fxLayout="row" fxLayoutAlign="space-evenly center">
      <app-my-album [albumIdx]="albumOne" (chosen)="onChosen($event)"></app-my-album>
      <app-my-album [albumIdx]="albumTwo" (chosen)="onChosen($event)"></app-my-album>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary" (click)="getNewAlbums()">Reset</button>
    </div>
    <div class="counter" fxLayout="row" fxLayoutAlign="space-around center">Counter: {{matchCounter}}</div>
    <div class="outer-record-container">
      <div class="inner-record-container">
        <img class="album" [@recordAnimations]="state" fxLayoutAlign="center center" src="/assets/images/BigTenInch.png">
      </div>
    </div>
  </div>
  <div fxFlex="10%"></div>
</div>
