.record-container {
  position: absolute;
  top: 200px;
  left: 33%;
  z-index: -1;
  .album {
    width: 650px;
    height: 650px;
  }  
}

.turntable-container {
  background-image: url("/assets/images/Turntable.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

button {
  margin: 20px;
}

.counter {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgb(128, 128, 128);
}
