.container {
  margin: 24px;
  padding: 8px;
}

.album {
  margin: 24px;
  padding: 8px;
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  background-color: whitesmoke;
}
