<div>
  <div class="summary-container" fxLayout="row wrap" [@listAnimations]="displayAlbums.length">
    <div class="album" [ngClass]="getRankStyle(i)" *ngFor="let album of displayAlbums; let i = index">
      <img class="cover" src="/assets/images/albums/{{ album.image }}.png">
      <div class="overlay">
        <span class="text">
          <p>{{album.title}}</p>
          <p *ngIf="i<22">{{album.artist}}</p>
          <p *ngIf="i<22">{{album.year}}</p>
          <p *ngIf="sortPct">Pct: {{getPct(album)}}%</p>
          <p *ngIf="!sortPct">Diff: {{album.wins - album.losses}}</p>
        </span>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button matTooltip="Sorting by {{ sortPct ? 'Percentage' : 'Difference' }}" mat-raised-button color="primary" (click)="toggleSort()">Sort by {{ sortPct ? 'Difference' : 'Percentage' }}</button>
  </div>
</div>
